{% extends 'base.html' %}


{% block title %}Добавление обьявления{% endblock %}



{% block content %}


  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Сообщите миру об этом в этой форме</span>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- enctype="multipart/form-data" для отправки картинок -->
    <form method="post"  enctype="multipart/form-data">
      {% csrf_token %}
      <!-- делаю отправку токена -->
      <!-- отображение формы в тегах p -->
    <!-- .as_table   .as_ul -->
      {{form.as_p}}
      <div class="row mb-3 offset-sm-5">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}